#content1,#content2,#content3,#content4,#content5{
	max-height: 200px;
	max-width: 500px;
	overflow: auto;
}
form label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
form input{
	display: inline-block;
	float: left;
}
input[type=text]:focus,input[type=number]:focus{
	background-color: lightblue;
}
.boton{
	background-color: lawngreen;
	border-color: lightskyblue;
	font-family: 'Lucida Sans';
}

#homebtn{
	padding: 10px 15px;
	font-size: 35px;
	color: rgba(37, 80, 201, 0.986);
}